{% extends 'web/base.html' %}{% load static %}{% load staticfiles %}
{% block title %}Triatlón Rotary Valdivia | CL{% endblock %}
{% block description %}Triatlón Rotary Valdivia | CL{% endblock %}
{% block keywords %}Triatlón Rotary Valdivia | CL{% endblock %}
{% block extra-head %}
    {% comment %}
    Exclusivo para vista del linstado de inscripciones
    {% endcomment %}

    <link rel="stylesheet" href="{% static 'css/listado.css' %}">

{% endblock %}
{% block main %}
    <div class="container">

        <h3 class="list-title uppercased">Listado de Inscritos</h3>
        <div class="center">
            <a href="{% url 'listado_inscritos' 2017 %}">2017</a>
            <a href="{% url 'listado_inscritos' 2018 %}">2018</a>
        </div>
        <table class="listado-inscriptos uppercased center-align">
            <thead>
            <tr>
                <th class="list-columna" data-field="id">Id</th>
                <th class="list-columna" data-field="name">Nombre</th>
                <th class="list-columna hide-on-small-and-down" data-field="sex">Género</th>
                <th class="list-columna" data-field="category">Categoría</th>
                <th class="list-columna hide-on-small-and-down" data-field="old">Edad</th>
                <th class="list-columna" data-field="boolean">Estado</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in listado %}
                <tr class="list-body">
                    {% if forloop.revcounter < 10 %}
                        <td>00{{ forloop.revcounter }}</td>
                    {% elif forloop.revcounter < 100 %}
                        <td>0{{ forloop.revcounter }}</td>
                    {% elif forloop.revcounter < 1000 %}
                        <td>{{ forloop.revcounter }}</td>
                    {% endif %}
                    <td class="list-body">{{ foo.apellido_pat }}, {{ foo.nombre }}</td>
                    <td class="list-body hide-on-small-and-down">{{ foo.sexo }}</td>
                    <td class="list-body">{{ foo.categoria }}</td>
                    <td class="list-body hide-on-small-and-down">{{ foo.edad }}</td>
                    {% if foo.pagado == True %}
                        <td>
                            <a class="btn-floating btn-large green accent-4">
                                <i class="large material-icons center">done</i>
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a class="btn-floating btn-large red accent-4">
                                <i class="large material-icons center">clear</i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}