<table border="1" cellspacing="0" cellpadding="0" class="uppercased tab-main transparent centered responsive-table">
    <tr>
        <td class="title-row-tab-main black white-text"><p>categorias</p></td>
        <td class="title-row-tab-main black white-text" colspan="2"><p>distancias</p></td>
        <td class="title-row-tab-main black white-text"><p>inscripcion</p></td>
    </tr>
    <tr>
        <td class="title-row-tab-main orange accent-4 white-text"><p>elite</p></td>
        <td colspan="2">
            <table class="tab-small">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">único</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">1600m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">64k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">16k</p></td>
                </tr>
            </table>
        </td>
        <td> </td>
    </tr>
    <tr>
        <td class="title-row-tab-main blue white-text" rowspan="2"><p>infantiles</p></td>
        <td class="" colspan="2">
            <table class="tab-small">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">9 a 11</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">50m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">2k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">1k</p></td>
                </tr>
            </table>
        </td>
        <td><p class="precio">30.000</p></td>
    </tr>
    <tr>
        <td class="title-row-tab-main blue white-text hide-on-650px" rowspan="2"><p>infantiles</p></td>
        <td colspan="2">

            <table class="tab-small">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">12 a 13</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">200m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">4k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">2k</p></td>
                </tr>
            </table>
        </td>
        <td><p class="precio">30.000</p></td>
    </tr>
    <tr>
        <td class="title-row-tab-main blue darken-4 white-text"><p>juveniles</p></td>
        <td>
            <table class="tab-small-50">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">14 a 15</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">400m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">8k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">2k</p></td>
                </tr>
            </table>
        </td>
        <td>
            <table class="tab-small-50">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">16 a 17</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">400m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">8k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">2k</p></td>
                </tr>
            </table>
        </td>
        <td><p class="precio">30.000</p></td>
    </tr>
    <tr>
        <td class="title-row-tab-main red accent-4 white-text" rowspan="2"><p>adultos</p></td>
        <td colspan="2">
            <table class="tab-small">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab  left bold">18 a 60+</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">800m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">32k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">8k</p></td>
                </tr>
            </table>
        </td>
        <td><p class="precio">45.000</p></td>
    </tr>
    <tr>
        <td class="title-row-tab-main red accent-4 white-text hide-on-650px" rowspan="2"><p>adultos</p></td>
        <td colspan="2">
            <table class="tab-small">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">18 A 60+</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">1600m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">64k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">16k</p></td>
                </tr>
            </table>
        </td>
        <td><p class="precio">60.000</p></td>
    </tr>
</table>
<table border="1" cellspacing="0" cellpadding="0" class="uppercased tab-main transparent centered responsive-table">
    <tr>
        <td class="title-row-tab-main black white-text"><p>categorias</p></td>
        <td class="title-row-tab-main black white-text" colspan="2"><p>distancias</p></td>
        <td class="title-row-tab-main black white-text"><p>inscripcion</p></td>
    </tr>
    <tr>
        <td class="title-row-tab-main orange accent-4 white-text"><p>elite</p></td>
        <td colspan="2">
            <table class="tab-small">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">único</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">1600m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">64k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">16k</p></td>
                </tr>
            </table>
        </td>
        <td> </td>
    </tr>
    <tr>
        <td class="title-row-tab-main blue white-text" rowspan="2"><p>infantiles</p></td>
        <td class="" colspan="2">
            <table class="tab-small">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">9 a 11</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">50m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">2k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">1k</p></td>
                </tr>
            </table>
        </td>
        <td><p class="precio">30.000</p></td>
    </tr>
    <tr>
        <td class="title-row-tab-main blue white-text hide-on-650px" rowspan="2"><p>infantiles</p></td>
        <td colspan="2">

            <table class="tab-small">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">12 a 13</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">200m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">4k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">2k</p></td>
                </tr>
            </table>
        </td>
        <td><p class="precio">30.000</p></td>
    </tr>
    <tr>
        <td class="title-row-tab-main blue darken-4 white-text"><p>juveniles</p></td>
        <td>
            <table class="tab-small-50">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">14 a 15</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">400m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">8k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">2k</p></td>
                </tr>
            </table>
        </td>
        <td>
            <table class="tab-small-50">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">16 a 17</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">400m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">8k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">2k</p></td>
                </tr>
            </table>
        </td>
        <td><p class="precio">30.000</p></td>
    </tr>
    <tr>
        <td class="title-row-tab-main red accent-4 white-text" rowspan="2"><p>adultos</p></td>
        <td colspan="2">
            <table class="tab-small">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab  left bold">18 a 60+</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">800m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">32k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">8k</p></td>
                </tr>
            </table>
        </td>
        <td><p class="precio">45.000</p></td>
    </tr>
    <tr>
        <td class="title-row-tab-main red accent-4 white-text hide-on-650px" rowspan="2"><p>adultos</p></td>
        <td colspan="2">
            <table class="tab-small">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td colspan="2" class="left-align"><p class="del-margin-topbottom title-main-small-tab left bold">18 A 60+</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">natacion</p></td>
                    <td><p class="del-margin-topbottom right bold">1600m</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">ciclismo</p></td>
                    <td><p class="del-margin-topbottom right bold">64k</p></td>
                </tr>
                <tr>
                    <td><p class="del-margin-topbottom left-align">trote</p></td>
                    <td><p class="del-margin-topbottom right bold">16k</p></td>
                </tr>
            </table>
        </td>
        <td><p class="precio">60.000</p></td>
    </tr>
</table>
